<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1>Login</h1>

  <div class="form-control-row" *ngIf="loginForm.controls.login as login">
    <label for="login"
      >Username<input formControlName="login" id="login" type="text" required />
    </label>

    <ng-container *ngIf="login.touched">
      <div class="validation-error-message" *ngIf="login.errors?.required">
        Please enter your username
      </div>
    </ng-container>
  </div>

  <div class="form-control-row" *ngIf="loginForm.controls.password as password">
    <label for="password"
      >Password<input
        formControlName="password"
        id="password"
        type="password"
      />
    </label>

    <ng-container *ngIf="password.touched">
      <div class="validation-error-message" *ngIf="password.errors?.required">
        Please enter your password
      </div>
      <div class="validation-error-message" *ngIf="password.errors?.minlength">
        The password must be at least 8 characters long!
      </div>
    </ng-container>
  </div>

  <button class="form-button" type="submit" [disabled]="loginForm.invalid">
    Login
  </button>
</form>
